<h1 class="tittle">
    <span class="badge bg-info rounded-pill">
        <i class="bi bi-person"></i> Sign In</span>
</h1>

<div class="container-fluid">
    <form #signInForm="ngForm" *ngIf="guest" (ngSubmit)="signIn(guest)">
        <div class="row">
            <div class="col-md-4 col-sm-2 col-2 "></div>
            <div class="col-md-4 col-sm-8 col-8 ">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-pill" id="username" placeholder="Username"
                        name="username" [(ngModel)]="guest.username">
                    <label for="username" class="h5">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-pill" id="password" placeholder="Password"
                        name="password" [(ngModel)]="guest.password">
                    <label for="password" class="h5 ">Password</label>
                </div>
                <div class="text-center">
                    <button type="submit"
                        class="btn btn-info btn-lg mt-4 mx-auto d-grid gap-2 col-lg-12 col-md-12 col-sm-12 col-12 rounded-pill" (click)="showNotification()">SignIn</button>
                    <button type="button"
                        class="btn btn-secondary btn-lg mt-4 mx-auto mb-4 d-grid gap-2 col-lg-12 col-md-12 col-sm-12 col-12 rounded-pill"
                        (click)="signUp()">Create Account</button>
                    <a href="contact" class="">Forgot password?</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 col-2"></div>
        </div>
    </form>
</div>

<div class="row">
  <div class="col-md-4 col-sm-2 col-2 "></div>
  <div class="col-md-4 col-sm-8 col-8 ">
    <div class="notification">
      <h4>{{notification}}</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-2 col-2"></div>
</div>
