<h1 class="tittle">
    <span class="badge bg-info rounded-pill">
        <i class="bi bi-person"></i> Sign In</span>
</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-pill" id="username" placeholder="Username" required="">
                <label for="username" class="h5">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-pill" id="password" placeholder="Password">
                <label for="password" class="h5 ">Password</label>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info btn-lg mt-4 mx-auto d-grid gap-2 col-lg-12 rounded-pill">SignIn</button>
                <button type="button"
                    class="btn btn-secondary btn-lg mt-4 mx-auto mb-4 d-grid gap-2 col-lg-12 rounded-pill"
                    routerLink="signUp">Create Account</button>
                <a href="contact" class="">Forgot password?</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>