.tittle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgb(30, 73, 167);
}

.notification{
  border: black;
  background: rgb(14, 192, 53);
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
}
