<!-- This is header component-->
<div class="container-fluid  bg-primary header">
  <div class="row row1">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 container">
      <img src="assets/images/logo.png" class="img-fluid thumbnail-border-width mt-2 ps-1" alt="LogoDrugStore"
        (click)="homePage()">
    </div>
    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-12 container">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3  col-xs-12">
          <button type="button" class="bi bi-person btn  text-nowrap btn-header" routerLink="signIn"> Sign in</button>
        </div>
        <div class="col-lg-2  col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="bi bi-person-plus btn text-nowrap btn-header" routerLink="signUp"> Sign Up</button>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="bi bi-bag-dash btn text-nowrap btn-header" routerLink="cart"> Cart </button>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="bi bi-telephone btn text-nowrap btn-header" routerLink="contact"> Contact
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
<img src="assets/images/DrugStore.jpg" class="img-fluid" alt="LogoDrugStore" style="width: 100%;">
