<!-- This is header component-->
<div class="container-fluid  bg-primary">
    <div class="row">
      <div class="col ">
        <img src="assets/images/logo.png" class="img-fluid thumbnail-border-width mt-2 ps-1" alt="LogoDrugStore" (click)="homePage()">
      </div>
      <div class="col">
        <app-search-bar></app-search-bar>
      </div>
      <div class="col container">
        <div class="row">
          <div class="col"> 
            <button  type="button" class="bi bi-person btn  text-nowrap btn-header "> Sign in</button>
          </div>
          <div class="col"> 
            <button type="button" class="bi bi-person-plus btn text-nowrap btn-header"> Sign Up</button>  
          </div>
          <div class="col"> 
            <button type="button" class="bi bi-bag-dash btn text-nowrap btn-header"> Cart </button> 
          </div>  
          <div class="col"> 
            <button type="button" class="bi bi-telephone btn text-nowrap btn-header"> Contact </button> 
          </div>  
        </div>
      </div>
    </div>
</div>
<app-navbar></app-navbar>
<img src="assets/images/DrugStore.jpg" class="img-fluid" alt="LogoDrugStore" style="width: 100%;"> 


