<div class="container-fluid  bg-info mt-5">
    <div class="row">
        <div class="list-group list-group-horizontal-md break text-white">
            <div class="col-lg-4">
                <h1 class="text-center">DrugStore Pharmacity</h1>
                <div>
                    <p>Something about us : A pharmacy is a place to give advice and information about drugs, but today, there is an international model pharmacy that provides household necessities at affordable prices, even Cheaper than grocery stores and supermarkets. That is the pharmacy chain Pharmacity</p>
                    <!-- <div class="fs-1 row justify-content-md-center">
                        <p class="bi bi-facebook col border"></p>
                        <p class="bi bi-twitter col border"></p>
                        <p class="bi bi-envelope col border"></p>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4">
                <h1 class="text-center ">PHARMACITY WEB</h1>
                <div class="fs-5 link">
                    <p class="bi bi-shop"> HomePage</p>
                    <p class="bi bi-book"> Introduce</p>
                    <p class="bi bi-newspaper"> Disease New</p>
                    <p class="bi bi-bag"> Cart</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h1 class="text-center ">CONTACT</h1>
                <div class="ms-5 fs-5">
                    <p class="bi bi-geo-alt"> Location : 878 Quang trung , Go vap , HCM City</p>
                    <p class="bi bi-telephone"> Phone : 0918492375</p>
                    <p class="bi bi-envelope"> Email : trandaothienluan@gmail.com</p>
                    <a href="http://localhost:4200/" class="bi bi-globe link-contact"> Website : http://localhost:4200/</a>
                </div>
            </div>
        </div>

    </div>
</div>
