
.background{
  background-color: rgb(214, 232, 243);
}

.break {
display: flex;
flex-flow: row wrap;
margin-bottom: 25px;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(30, 73, 167);

}
