.title{
    background-color:#0dcaf0 ;
    color: whitesmoke ;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}