
<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <div class="container-fluid">
    <ul class=" navbar-nav  text-uppercase fw-bold px-2 ">
      <li class="nav-item">
        <app-menu></app-menu>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-shop " href="#"> Trang chủ </a>
      </li>
     <li class="nav-item">
        <a class="nav-link active bi bi-book" href="#"> Giới thiệu </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-newspaper" href="#"> Tin tức dịch bệnh </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-telephone" href="#"> Liên hệ </a>
      </li>
    </ul>
  </div>
</nav>


  