<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <div class="container-fluid">
    <ul class=" navbar-nav  text-uppercase fw-bold px-2 ">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary btn-info bi bi-list menu text-uppercase fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu item" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item bi bi-bandaid" href="#"> Medicine</a></li>
            <li><a class="dropdown-item bi bi-archive" href="#"> Food supplement</a></li>
            <li><a class="dropdown-item bi bi-ticket" href="#"> Mask </a></li>
            <li><a class="dropdown-item bi bi-eyedropper" href="#"> Medical instruments </a></li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-shop " href="#"> HomePage </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-book btn:hover" href="#"> Introduce </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-newspaper" href="#"> Disease news </a>
      </li>
    </ul>
  </div>
</nav>
