<!-- <div class=" container-fluid"  *ngIf="selectedProduct">
    <h1 style="text-align: center;">Details</h1>
    <div class="">
        <div class="classify ms-5">
            <product-classify [product]="selectedProduct"></product-classify>
        </div>
        <div class="list-group list-group-horizontal-md break">
            <div class="col-4 img border"> -->
                <!-- <product-col [product]="selectedProduct"></product-col> -->
                <!-- <product-image [product]="selectedProduct" class="img-fluid "></product-image>
            </div>
            <div class="col-8 ">
                <h2>dasdaasdasdsdsddsdsdd</h2>
                <h3>dasddsa</h3>
            </div>

        </div>
    </div>
</div> -->

<div class="background container-fluid">
    <h1 style="text-align: center;">Details</h1>
    <product-col [product]="selectedProduct"></product-col>
</div>