.classify {
    color: rgb(47, 21, 117);
    text-transform: uppercase;

}


.row {
    height: 30rem;
}

.p {
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 150;

}

.logo {
    height: 6rem;
    width: 21rem;
}

.center {
    text-align: center;

}