$font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$purple : rgb(47, 21, 117);

.classify {
    color: $purple;
    text-transform: uppercase;
}

.p {
    font-size: 2rem;
    font-weight: 100;
    font-family: $font;

}

.h1 {
    font-family: $font;
    font-weight: 150;

}

.logo {
    height: 6rem;
    width: 21rem;
}

.center {
    text-align: center;
}