<div class=" container-fluid mt-5" *ngIf="selectedProduct">
    <div class="row ">
        <div class="list-group list-group-horizontal-md break">
            <div class="col-5 border border-info">
                <img class="card-img-top img-fluid " [src]="selectedProduct.imageUrl" style="height: 31rem;">
            </div>
            <div class="col-7 border ms-4 center">
                <div>
                    <img src="/assets/images/smallLogo.jpg" class="logo">
                </div>
                <div>
                    <h1><span class="badge bg-info h1">PRODUCT DETAIL</span></h1>
                </div>
                <div class="classify">
                    <product-classify [product]="selectedProduct"></product-classify>
                </div>
                <div>
                    <h2 class="header text-uppercase mt-2"> Name of product : {{ selectedProduct.name }}</h2>
                </div>
                <div>
                    <p class="p">Information of product : {{selectedProduct.des}}</p>
                </div>
                <div>
                    <price-display [price]="selectedProduct.price" class="p"></price-display>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="" class="btn btn-info btn-lg mt-3">Add product to cart  <i class="bi bi-cart2"></i></a>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="" class="btn btn-danger btn-lg mt-3">back to ProductList Page <i class="bi bi-backspace"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class=" container-fluid">
    <h1 style="text-align: center;">Details</h1>
    <product-col [product]="selectedProduct"></product-col>
</div> -->
