<div>
  <a class="nav-link active bi bi-list" id="collapseBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample" aria-label="Toggle navigation"> Menu </a>

  <div class="showicon">
    <ul class=" navbar-nav flex-column fw-bold px-2">
      <li class="nav-item">
        <a class="nav-link active bi bi-bandaid"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-archive" href="#"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-ticket" (click)="maskList()"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-eyedropper" href="#"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active bi bi-telephone" href="#"> </a>
      </li>
    </ul>
  </div>

  <div class="sidebar" id="collapseExample">
    <div class=" p-1 bd-highlight ">
      <ul class=" navbar-nav flex-column fw-bold px-2">
        <li class="nav-item">
          <a class="nav-link active ">- Medicine </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">- Food supplement </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="maskList()">- Mask </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="#">- Medical instruments </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="#">- Contact </a>
        </li>
      </ul>
    </div>
  </div>

</div>