<div>
    <h1 class="text-center text-uppercase text-white ">Pharmacity </h1> 
    <form class="d-flex input-group mb-2 bg-light rounded-circle" >
        <input class="form-control " type="text" placeholder="Search Products" [(ngModel)]="searchedKeyword">
        <div class="input-group-append">
            <button class="bi bi-search btn btn-success" type="submit" ></button>
        </div>
    </form>

    <div class=" list-group list-group-horizontal-md ">
        <product-col
        *ngFor="let myProduct of productList | filter:searchedKeyword "
        [product]="myProduct">
        </product-col>
    </div>
</div>        
