<div class="row">
  <div class="col-4 col-lg-3 col-md-3 col-sm-4 ">
    <div class="dropdown">
      <button class="btn border bi bi-list menu text-uppercase fw-bold" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        Category
      </button>
      <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item bi bi-bandaid" (click)="doSearch('Medicine')"> Medicine</a></li>
        <li><a class="dropdown-item bi bi-archive" (click)="doSearch('Food Supplement')"> Food supplement</a></li>
        <li><a class="dropdown-item bi bi-ticket" (click)="doSearch('Mask')"> Mask </a></li>
        <li><a class="dropdown-item bi bi-eyedropper" (click)="doSearch('Medical Instruments')"> Medical instruments </a></li>
      </ul>
    </div>
  </div>
  <div class="col-8 col-lg-9 col-md-9 col-sm-8">
    <h2 class="text-center text-uppercase text-white title">Pharmacity</h2>
    <div class="d-flex input-group bg-light rounded-pill">
      <input class="form-control rounded-pill" type="text" placeholder="Search Products" [(ngModel)]="searchKeywords"
        (keydown.enter)="doSearch('')" />
      <button class="bi bi-search bg-light btn-searchbar rounded-pill" (click)="doSearch('')"></button>
    </div>
  </div>
</div>