<h1 class="tittle">
    <span class="badge bg-info rounded-pill">
        <i class="bi bi-person-plus"></i> Sign Up Account</span>
</h1>

<div class="container-fluid ">
    <form class="row" novalidate>
        <div class="col-md-3"></div>
        <div class="col">
            <div class="mb-2">
                <label for="username" class="h5">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Input your Username" required="">
            </div>
            <div class="mb-2">
                <label for="email" class="h5">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Input your Email">
            </div>
            <div class="row">
                <div class="col">
                    <label for="password" class="h5">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Input your password">
                </div>
                <div class="col">
                    <label for="rePassword" class="h5">Retype Password</label>
                    <input type="password" class="form-control" id="rePassword" placeholder="Retype your password">
                </div>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="h5">PhoneNumber</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="Input your phonenumber"
                    pattern="[0-9]*">
            </div>
            <div class="mb-3">
                <label for="address" class="h5">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Input your Address">
            </div>
            <div>
                <button type="Submit" class="btn btn-outline-info">Sign Up</button>
                <button type="Cancel" class="btn btn-outline-danger ms-3">Cancel</button>
                <button type="" class="btn btn-outline-success ms-3" routerLink="">Back to ProductList</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </form>
</div>