<h1 class="tittle">
  <span class="badge bg-info rounded-pill">
    <i class="bi bi-person-plus"></i> Sign Up Account</span>
</h1>

<div class="container-fluid">
  <form #signUpForm="ngForm" class="row" (ngSubmit)="signUp(customer)" *ngIf="customer">
    <div class=" col-lg-2 col-md-2 col-sm-2 col-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-10">
      <div class="mb-2">
        <label for="username" class="h5">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Input your Username" name="username"
          [(ngModel)]="customer.username" required minlength="8" #inputUserName="ngModel" />
        <div class="alert alert-danger mt-2"
          *ngIf="!inputUserName.valid && (!inputUserName.pristine || signUpForm.submitted)">
          <small>Username is required and must have more than 8 characters</small>
        </div>
      </div>
      <div class="mb-2">
        <label for="email" class="h5">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Input your Email" name="email"
          [(ngModel)]="customer.email" required minlength="4" #inputEmail="ngModel" />
        <div class="alert alert-danger mt-2"
          *ngIf="!inputEmail.valid && (!inputEmail.pristine || signUpForm.submitted)">
          <small>Email is not the right shape and must have more than 4 characters</small>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label for="password" class="h5">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Input your password" name="password"
            [(ngModel)]="customer.password" required minlength="8" #inputPassword="ngModel" />
          <div class="alert alert-danger mt-2"
            *ngIf="!inputPassword.valid && (!inputPassword.pristine || signUpForm.submitted)">
            <small>Password is required and must have more than 8 characters</small>
          </div>
        </div>
        <div class="col">
          <label for="rePassword" class="h5">Retype Password</label>
          <input type="password" class="form-control" id="rePassword" placeholder="Retype your password"
            name="repassword" [(ngModel)]="repassword" required minlength="8" #inputRepassword="ngModel" />
          <div class="alert alert-danger mt-2"
            *ngIf="!inputRepassword.valid && (!inputRepassword.pristine || signUpForm.submitted)">
            <small>Password is required and must have more than 8 characters</small>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="phoneNumber" class="h5">PhoneNumber</label>
        <input type="number" class="form-control" id="phoneNumber" placeholder="Input your phonenumber" pattern="[0-9]*"
          name="phonenumber" [(ngModel)]="customer.phonenumber" />
      </div>
      <div class="mb-2">
        <label for="address" class="h5">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Input your Address" name="address"
          [(ngModel)]="customer.address" />
      </div>
      <div>
        <button type="Submit" class="btn btn-outline-info">Sign Up</button>
        <button type="reset" class="btn btn-outline-danger ms-3">
          Cancel
        </button>
        <button class="btn btn-outline-success ms-3" routerLink="">
          Back to ProductList
        </button>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-1"></div>
  </form>
</div>

