.product:hover {
  border-color: rgb(79, 155, 218);
  border-width: 4px;
  opacity: 1;
}

.product {
  width: 25rem;
  height: 27rem;
  border-color: gray;
  border-radius: 4px;
}


@media screen and (min-width: 440px) {
  .product {
    max-width: 22rem;
    height: 27rem;
    //position: static;
    color: yellow;
  }
}

@media screen and (min-width: 821px) {
  .product {
    max-width: 20rem;
    height: 27rem;
    //position: static;
    color: red;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    max-width: 21rem;
    height: 27rem;

    //position: static;
    color: purple;
  }
}
