
 <div class="card " style="width: 25rem;height: 25rem;">
    <product-image [product]="product"></product-image>
    <div class="card-body">
        <div class="content">
            <div class="header">{{ product.name }}</div>
            <div class="classify">
            <product-classify [product]="product"></product-classify>
            </div>
            <price-display [price]="product.price"></price-display>
            <a href="#" class="btn btn-success">Buy</a>
        </div>
    </div>
</div>